* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
  font-family: 'Roboto', sans-serif;
}
header {
  height: 100px;
  width: 100%;
  position: fixed;
  z-index: 1;
}
nav {
  height: 100%;
}
.wrapper_menu {
  height: 100%;
  line-height: 100px;
}
#jumboWrapper {
  padding-top: 200px;
  background: url("../assets/hero-background.svg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  height: 100%;
}
#jumboWrapper .container{
  padding-bottom: 100px;
}
.navbar-header img {
  height: 40px;
  margin-bottom: 10px;
}
#menuLeft {
  height: 100%;
  text-align: left;
}
#menuRight {
  height: 100%;
  text-align: right;
}
#menuLeft ul li ,
#menuRight ul li{
  display: inline-block;
  font-size: 16px;
}
#menuLeft ul li a:hover,
#menuRight ul li a:hover{
  color: lightblue;
  text-decoration: none;
}
#menuRight ul li:last-child a{
  background: none;
  transition: 1s;
}
#menuRight ul li:last-child a:hover{
  background: lightblue;
  color: white;
}
#wrapperHam {
  float: right;
}
#hamburger-menu {
    display: none;
    padding: 10px;
    border-radius: 5px;
    border: 1px solid #303fd9;
}
/*MEDIA QUERY PER LA NAVBAR*/
@media screen and (max-width: 992px) {
  #menuLeft ul li ,
  #menuRight ul li {
    display: none;
  }
  #hamburger-menu {
        display: inline-block;
        line-height: 0;
        color: #303fd9;
        position: relative;
        top: -15px;
    }
}
/*****************************/
.wrapperContenutoJumbo {
  height: 400px;
}
.wrappertestoJumboInterno {
}
.wrappertestoJumboInterno h2 {
  font-size: 62px;
  text-align: left;
  font-weight: bold;
}
.wrappertestoJumboInterno p {
  font-size: 20px;
  text-align: left;
  font-weight: 200;
}
.wrapperFormJumboInterno {
  border-radius: 5px;
}

.wrapperFormJumboInterno h4 {
  font-size: 30px;
  text-align: center;
}
.wrapperFormJumboInterno  {
  padding-left: 40px;
  padding-right: 40px;
  padding-top: 30px;
  padding-bottom: 30px;
}
.wrapperFormJumboInterno form input {
    margin-bottom: 15px;
    height: 50px;
}
.wrapperFormJumboInterno form .btnForm{
  transition: 0.5s;
}
.wrapperFormJumboInterno form .btnForm:hover{
  background-color: #303fd9;
}
.wrapperFormJumboInterno form .btnSignUp{
  transition: 0.5s;
}
.wrapperFormJumboInterno form .btnSignUp:hover{
  background-color: lightgrey;
}
.wrapperFormJumboInterno small a {
  text-decoration: underline;
  color: #0069ff;
}
/*MEDIA QUERY PER il JUMBO*/
@media screen and (max-width: 992px) {
  .container {
    width: 100%;
  }
  .wrappertestoJumboInterno h2 {
    font-size: 40px;
    text-align: left;
    font-weight: bold;
  }
  .wrapperFormJumboInterno {
    padding-left: 20px;
    padding-right: 20px;
    padding-top: 20px;
    padding-bottom: 20px;
}
  .wrapperFormJumboInterno h4 {
    font-size: 30px;
  }
}
@media screen and (max-width: 768px) {

  .wrappertestoJumboInterno h2 {
      font-size: 40px;
      text-align: left;
      font-weight: bold;
  }
  .wrappertestoJumboInterno p {
      font-size: 20px;
  }
  .wrapperFormJumboInterno form h4 {
      font-size: 40px;
  }
  .contentFormJumbo {
    margin-top: 30px;
  }
}
/*****************************/
#clienti {
  height: auto;
}
/*#containerLogoClienti {
  height: 100%;
}
.grid-logo-item {
   float: left;
   width: calc(100% / 6);
   height: 100%;
}
.grid-logo-item img{
  max-width: 100%;
  height: 70px;
}*/
#clienti img{
  max-width: 100%;
  height: auto;
}
#ultimo {
  max-width: 100%;
  height: auto;
}
.centramento {
  height: 200px;
  line-height: 200px;
}

/*MEDIA QUERY PER il SECTION CLIENTI*/
@media screen and (max-width: 992px) {
  #clienti img {
    display: block;
    margin: 0 auto;
  }

}
/*****************************/
#deploy {
  height: 800px;
}
#deploy h2 {
  font-size: 40px;
}
#deploy p {
  font-size: 16px;
}
#deploy .bgBluchiaro,
#deploy .bgGrigio {
  height: 400px;
}
#aside div {
  font-size: 20px;
  padding: 20px;
  border-left: 2px solid lightgrey;
  margin: 0 auto;
}
#aside div:first-child {
  border-left: 2px solid blue;
}
/*MEDIA QUERY PER il SECTION DELOY*/
@media screen and (max-width: 768px) {
  .wrapper4 div {
    margin-top: 30px;
  }
}
