* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
  font-family: 'Roboto', sans-serif;
}
header {
  height: 100px;
  width: 100%;
}
nav {
  height: 100%;
}
.wrapper_menu {
  height: 100%;
  line-height: 100px;
}
#jumboWrapper {
  padding-top: 100px;
  background: url("../assets/hero-background.svg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  height: 700px;
}
.navbar-header img {
  height: 40px;
  margin-bottom: 10px;
}
#menuLeft {
  height: 100%;
  text-align: left;
}
#menuRight {
  height: 100%;
  text-align: right;
}
#menuLeft ul li ,
#menuRight ul li{
  display: inline-block;
  font-size: 16px;
}
#menuLeft ul li a:hover,
#menuRight ul li a:hover{
  color: lightblue;
  text-decoration: none;
}
#menuRight ul li:last-child a{
  background: none;
  transition: 1s;
}
#menuRight ul li:last-child a:hover{
  background: lightblue;
  color: white;
}
#wrapperHam {
  float: right;
}
#hamburger-menu {
    display: none;
    padding: 10px;
    border-radius: 5px;
    border: 1px solid #303fd9;
}
/*MEDIA QUERY PER LA NAVBAR*/
@media screen and (max-width: 992px) {
  #menuLeft ul li ,
  #menuRight ul li {
    display: none;
  }
  #hamburger-menu {
        display: inline-block;
        line-height: 0;
        color: #303fd9;
        position: relative;
        bottom: 50px;
    }
}
/*****************************/
.wrapperContenutoJumbo {
  height: 400px;
}
.wrappertestoJumboInterno {
  height: 100%;
}
.wrappertestoJumboInterno h2 {
  font-size: 62px;
  text-align: left;
  font-weight: bold;
}
.wrappertestoJumboInterno p {
  font-size: 20px;
  text-align: left;
  font-weight: 200;
}
.wrapperFormJumboInterno {
  height: 100%;
  border-radius: 5px;
}

.wrapperFormJumboInterno h4 {
  font-size: 30px;
  text-align: center;
}
.wrapperFormJumboInterno  {
    padding-left: 30px;
    padding-right: 30px;
    margin-top: 30px;
    margin-bottom: 30px;
}
.wrapperFormJumboInterno form input {
    margin-bottom: 15px;
    height: 50px;
}
.wrapperFormJumboInterno form .btnForm{
  transition: 0.5s;
}
.wrapperFormJumboInterno form .btnForm:hover{
  background-color: #303fd9;
}
.wrapperFormJumboInterno form .btnSignUp{
  transition: 0.5s;
}
.wrapperFormJumboInterno form .btnSignUp:hover{
  background-color: lightgrey;
}
.wrapperFormJumboInterno small a {
  text-decoration: underline;
  color: #0069ff;
}
